<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
   <a routerLink="compliance/getall" routerLinkActive="active" class="nav-link"> Compliance List</a>

    </li>
    <li class="nav-item">
      <a routerLink="compliance/create" routerLinkActive="active" class="nav-link">Add Compliance</a>
      
       </li>
       <li class="nav-item">
        <a routerLink="project/getAll" routerLinkActive="active" class="nav-link"> Project List</a>
     
         </li>
         <li class="nav-item">
           <a routerLink="project/addProject" routerLinkActive="active" class="nav-link">Add Project</a>
           
            </li>
  </ul>

</nav> 

<div class="container"> -->
  <!-- <app-home></app-home> -->
  <!-- <app-admin-login></app-admin-login> -->
  <!-- <app-admin-signup></app-admin-signup> -->
<router-outlet></router-outlet>

<!-- </div> --> -->
